{% extends "base.html" %}
{% load static %}

{% block currentPage %} Meniu Principal {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col text-center">
            <form action="/vezideclaratii" method="get">
                <button type="submit" class="btn btn-primary btn-lg">Vezi declaratii</button>
            </form>
        </div>
    </div>
    
    <div class="row mb-4">
        <div class="col text-center">
            <form action="/clasament_search" method="get">
                <button type="submit" class="btn btn-secondary btn-lg">Clasament dupa avere</button>
            </form>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col text-center">
            <button id="incarcaBtn" class="btn btn-success btn-lg">Incarca</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <form id="uploadForm" method="post" action="/upload" enctype="multipart/form-data" class="p-3 border rounded bg-light">
                {% csrf_token %}
                {{ form }}
                <div class="form-group">
                    <input type="submit" value="Trimite" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'avere/meniuScript.js' %}"></script>

{% endblock %}